<ul>
    {% assign posts_sorted = site.posts | sort: 'date' %}
    {% assign posts_sorted = posts_sorted | reverse %}
    {% for post in posts_sorted %}
        <li>
            <article>
                <header>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                {% if post.quote %}
                    <div class="quote"><span class="quote">{{ post.quote }}</span><span class="quote-by">{{ post.quote-by }}</span></div>
                {% endif %}
                <summary>{{ post.excerpt }}</summary>
                <div class="readmore"><a href="{{ post.url }}">&#8943;</a></div>
            </article>
        </li>
    {% endfor %}
</ul>