---
---

// colors: primary, secondary, tertiary
// variants: bright, dark, light, accent
$background-color: #252525;
$primary-color: #7d09e9;
$primary-color-bright: #c600ff;
$primary-color-dark: #6200b6;
$secondary-color: #056af3;
$secondary-color-bright: #09e6e9;
$tertiary-color: #ffcc00;
$tertiary-color-bright: #ffcc00;
$accent-color: #d5c9b3;
$accent-color-bright: #f0e7d5;
$accent-color-dark: #636363;

@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu";
    >#header {
        nav {
            background: none;
            ul.social {
                margin: 0px;


                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-start;
                padding-top: 1px;
                li {
                    list-style-image: none;
                    list-style-type: none;
                    margin-right: 5px;
                    a {
                        padding: 8px;
                        width: 36px;
                        height: 36px;
                        i {
                            font-size: 20px;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.wrapper {
    max-width: 800px;
}
section {
    max-width: 800px;
    #title {
        font-weight: bold;
        color: $secondary-color-bright;
        p {
            margin-bottom: 0;
            font-size: 14px;
        }
        h1 {
            font-family: "Press Start 2P";
            a {
                color: $secondary-color-bright;
            }
        }
        margin-bottom: 0;
    }
    margin-bottom: 5px;
    padding-bottom: 0px;
}
div.two-column, div.three-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    nav {
        width: 200px;
        border-right: 4px solid $primary-color;
        h4 {
            background-color: $primary-color;
            color: $background-color;
            font-weight: bold;
            font-size: 28px;
            line-height: 18px;
            padding-left: 4px;
            text-transform: uppercase;
            font-family: "Ubuntu Mono";
        }
        ul {
            margin: 0px;
            padding-left: 0px;
            margin-bottom: 10px;
            li {
                margin-left: 2em;
                text-indent: -1em;
                font-family: "Ubuntu Mono";
            }
        }
    }
    main {
        flex-grow: 1;
        ul {
            list-style-type: none;
            li {
                list-style-image: none;
                article {
                    h3 {
                        top: 0;
                    }
                }
            }
        }
    }
    aside {
        width: 150px;
        padding: 3px;
        ul {
            padding-left: 0px;
        }
    }
}
article {
    img {
        max-width: 100%;
    }
    p {
        margin-bottom: 2em;
    }
    header {
        background-color: $primary-color-dark;
        border: 0;
        h2 {
            font-weight: normal;
            margin: 15px;
            margin-left: 3em;
            text-indent: -2em;
            color: $primary-color-bright;
            font-size: 20pt;
            font-family: "Ubuntu Mono" !important;
        }
        h3 {
            font-family: "Ubuntu Mono" !important;;
            margin-bottom: 0px;
            border-bottom: 1px solid $primary-color-dark;
            padding-left: 15px;
            font-weight: bold;
            position: relative;
            top: -30px;
            font-size: 16pt;
            margin-right: 3em;
            color: $primary-color;
        }
        time {
            background-color: $secondary-color;
            color: $background-color;
            font-weight: normal;
            float: right;
            display: block;
            line-height: 13px;
            font-family: "Ubuntu Mono";
            text-transform: uppercase;
            span.day {
                font-size: 26px;
                line-height: 20px;
            }
            span.month {
                font-size: 18px;
            }
            span.year {
                font-size: 13px;
            }
        }
        a {
            color: $secondary-color-bright;
        }
    }
    div.quote {
        float: right;
        margin: 5px;
        font-size: 18px;
        font-style: italic;
        font-color: $primary-color-bright;
        font-family: "Ubuntu Condensed";
        width: 60%;
        span {
            &.quote {
                color: $primary-color-bright;
                &:before {
                }
                &:after {
                }
            }
            &.quote-by {
                color: $primary-color;
                text-align: right;
                display: block;
                &:before {
                    content: "~"
                }
            }
        }
    }
    summary {
        padding-top: 10px;
        p:last-child {
            margin-bottom: 0px;
        }
    }
    div.readmore {
        width: 100%;
        font-size: 50px;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
}
menu, ol, ul {
    padding: 0 0 0 10px;
}
p, ul, ol, table, pre, dl {
    margin: 0 20px;
}