---
---
@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
}
section {
    max-width: 800px;
    #title {
        font-weight: bold;

        color: #66d9ef;
        p {
            margin-bottom: 0;
            font-size: 14px;
        }
        h1 {
            font-family: Courier New;
            a {
                color: #66d9ef;
            }
        }
        margin-bottom: 0;
    }
    margin-bottom: 5px;
    padding-bottom: 0px;
}
div.two-column, div.three-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    nav {
        width: 200px;
        // background-color:  #353535;
        border-right: 4px solid #434343;
        padding: 3px;
        ul {
            padding-left: 0px;
        }
    }
    main {
        flex-grow: 1;
    }
    aside {
        width: 150px;
        padding: 3px;
        border-left: 4px solid #434343;
        ul {
            padding-left: 0px;
        }
    }
}
article {
    img {
        max-width: 100%;
    }
    h2 {
        font-weight: normal;
        margin: 15px;
        margin-left: 3em;
        text-indent: -2em;
        color: #ffcc00;
        font-size: 20pt;
        font-family: Georgia;
        &.quote {
            font-style: italic;
        }
    }
    h3 {
        font-family: Georgia;
        margin-bottom: 0px;
        border-bottom: 1px solid #444;
        text-align: right;
        font-style: italic;
        position: relative;
        top: -30px;
        font-size: 16pt;
        margin-right: 3em;
        color: #a097c5;
        font-weight: bold;
        span {
            color: #777;
        }
    }
    time {
        font-size: 9pt;
    }
    p {
        margin-bottom: 2em;
    }
}
menu, ol, ul {
    padding: 0 0 0 10px;
}
p, ul, ol, table, pre, dl {
    margin: 0 20px;
}
ul.social {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    li {
        list-style-image: none;
        list-style-type: none;
        padding: 3px;
        a {
            i {
                font-size: 20px;
            }
            span {
                display: none;
            }
        }
    }
}